@charset "utf-8";
/* CSS Document */
body{
	background-color: slategray;
}

#container {
	
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #7FA262;
	text-decoration-color: antiquewhite;
}

#header {
	text-align: center;
	background-color: #ECE2C3;
	color: #966942;
}


#menu {
	background-color: #C3DBEC;
	color: #426E96;
	float: left;
}

#content {
	background-color: #C3DBEC;
	color: #1E8571;
	float: right;
}
